* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(31, 31, 31);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 
header {
    background-image: url('./images/forest-background.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
    padding: 20px;
    border: 5px solid black;

}
header img {
    border-radius: 50%;
}

h1 {
    border-style: double;
    border-radius: 100px;
    text-align: center;
}

#family {
    display: flex;
    margin: 50px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 20px;
    background-color: rgb(7, 63, 7);
}

nav a {
    text-decoration: none;
    color: white;
}

section {
    display: flex;
    align-items: center;
}

aside {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(7, 63, 7);
    height: 300px;
    width: 100px;
    padding-top: 20px;
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: start;
}

aside h2 {
    color: white;
    text-align: center;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

article section p {
color: white;
text-align: center;
}
