* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(31, 31, 31);
}
 
.header {
    background-image: url('./images/forest-background.jpg');
    background-size: cover;
    background-position: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 300px;
    width: 100%;
    padding: 20px;
    border: 5px solid black;

}

h1 {
    border-style: double;
    text-align: center;
}

ul {
    list-style-type: none;
}

li{

}